
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body{
    font-family: 'Poppins', sans-serif;
    background-color:  rgba(62, 136, 62, 0.521);
}

.nav-bar{
    display: flex;
    margin: 0 30px;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
}

.station{
    color: rgb(62, 136, 62);
    font-weight: 600;
    font-size: 28px;
}

.links{
    list-style-type: none;
    display: flex;
}

.link{
    text-decoration: none;
    padding: 10px;
    color: black;
}

.nav-right{
    display: flex;
    padding: 10px;
    align-items: center;
}

.offer{
    background-color: rgba(62, 136, 62, 0.521);
    padding: 5px 10px;
    border-radius: 50px;
    margin-right: 15px;
}
.m-5{
    margin: 0 20px;
    font-size: 25px;
}
.main-container{
    display: flex;
    justify-content: center;
}

.heading{
    /* background-color: rgba(62, 136, 62, 0.521); */
    /* padding: 5px 80px; */
    /* border-radius: 20px; */
    color: white;
    margin: 0 auto;
    text-align: center;
}

.foodie{
    color: rgb(62, 136, 62);
}

.item-body{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.card{
    border: 1px solid gray;
    width: 300px;
    border-radius: 30px;
    padding: 10px;
    background-color: white;
}

.food-img{
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    

}
.foodname{
    font-weight: bold;
}
.desc{
    font-size: 15px;
}

.order-btn{
   background-color: rgb(62, 136, 62);
   font-weight: 500;
   padding: 5px 20px;
   font-size: 16px;
   border-radius: 30px;
   border: none;
}